# 忽略所有 __pycache__ 文件夹
__pycache__/
outputs/

# 忽略所有 .pyc 文件
*.pyc
*.out

*.png
*.pdf
tc/
test_file/
mlp_type/
experiments/results/

# 忽略jobs/和jobs/下的所有内容
jobs/*
jobs/jobs_methods_2001/
jobs/jobs_methods_2001_zsre/